{{ if eq .chezmoi.osRelease.idLike "debian" -}}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

{{ $sudo }} apt update
{{ $sudo }} apt -y install git keychain jq openfortivpn maim python3-poetry

curl -L "https://dl.k8s.io/v1.25.3/bin/linux/amd64/kubectl" -o ~/bin/kubectl
chmod +x ~/bin/kubectl

curl -L "https://github.com/argoproj/argo-cd/releases/download/v2.4.12/argocd-linux-amd64" -o ~/bin/argocd
chmod +x ~/bin/argocd

curl -L "https://github.com/getsops/sops/releases/download/v3.8.1/sops-v3.8.1.linux.amd64" -o ~/bin/sops
chmod +x ~/bin/sops

curl -fsSL https://deno.land/x/install/install.sh | sh

gopass completion bash > ~/.local/share/bash-completion/completions/gopass
kubectl completion bash > ~/.local/share/bash-completion/completions/kubectl
chezmoi completion bash > ~/.local/share/bash-completion/completions/chezmoi
npm completion > ~/.local/share/bash-completion/completions/npm
deno completions bash > ~/.local/share/bash-completion/completions/deno
poetry completions bash > ~/.local/share/bash-completion/completions/poetry

{{ end -}}
